##### Importing Required Libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import numpy as np
import pickle

##### Fetching Dataset

In [2]:
df = pd.read_csv('./data/dataframe.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

##### Spliting Dataframe into X and y

In [3]:
X = df.copy()
X.drop('output', axis=1, inplace=True)
X.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [4]:
y = df[['output']]
y.head()

   output
0       1
1       1
2       1
3       1
4       1

##### Splitting X and y into Train & Test

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=3)

##### Training Logistic Regression Algorithm

In [6]:
model = LogisticRegression().fit(X_train, y_train)

c:\Users\Prameya\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\Prameya\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

##### Dumping Model on Pickle File

In [7]:
with open('model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)

##### Loading Model and Testing

In [8]:
with open('model.pkl', 'rb') as model_file:
    final_model = pickle.load(model_file)

test_result = final_model.predict_proba([list(X_train.iloc[1])])[0][1]*100
print(f"Probability of getting a Heart Attack: {round(test_result, 2)}%")

Probability of getting a Heart Attack: 57.2%

c:\Users\Prameya\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(